# Grag AI Internal
.planning/
AGENT/
/data/
/node_modules/
app/ingestion/__pycache__/*
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
dist/
build/
*.egg
*.log
*.bak
*.tmp
*.swp
.DS_Store
.idea/
.vscode/
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.coverage
.coverage.*
htmlcov/
*.env.*
.env
